/* Reset de estilos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos generales */
body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color: #c7d7e6; /* Azul claro */
  color: #212529; /* Color de texto principal */
}

.container_head {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2%;
  display: flex;
  flex-direction: column;
  height: 15%; /* Tamaño completo del viewport */
}



.container_footer {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2%;
  display: flex;
  flex-direction: column;
  height: 15%; /* Tamaño completo del viewport */
}

/* Estilos para la cabecera */
.header {
  background-color: #2c3e50; /* Azul oscuro */
  color: #fff; /* Texto blanco */
  padding: 2% 0;
  text-align: center;
  width: 100%;
}

.logo {
  float: left;
  width: 20%;
}

.login {
  float: right;
  width: 20%;
}

.logo-img {
  width: 100%;
}

.login-link {
  text-decoration: none;
  color: #fff;
}

.login-link:hover {
  color: #bdc3c7; /* Gris claro */
}

/* Estilos para el menú de navegación */
.navbar {
  background-color: #34495e; /* Azul oscuro */
  padding: 1% 0;
  width: 100%;
}

.nav-list {
  list-style: none;
  text-align: center;
}

.nav-item {
  display: inline-block;
  margin-left: 5%;
}

.nav-link {
  text-decoration: none;
  color: #fff;
  transition: color 0.3s;
}

.nav-link-sel {
  text-decoration: none;
  background-color: #a3c4f5;
  color: #fff;
  transition: color 0.5s;
	border-radius: 10px;
}

.nav-link:hover {
  color: #bdc3c7; /* Gris claro */
}




/* Estilos para el pie de página */
.footer {
  background-color: #2c3e50; /* Azul oscuro */
  color: #fff; /* Texto blanco */
  padding: 2% 0;
  text-align: center;
  width: 100%;
}


.contenedor {
    display: flex;
}

.menu-lateral {
    background-color: #333;
    color: #fff;
    width: 200px;
}

.menu-lateral ul li:hover {
    background-color: rgba(255, 255, 255, 0.1); /* Sombreado al pasar el mouse */
	border-radius: 50px;
}

.menu-lateral ul li:active {
    background-color: rgba(255, 255, 255, 0.2); /* Sombreado al hacer clic */
	border-radius: 50px;
}

.menu-lateral ul {
    list-style-type: none;
    padding: 0;
    text-align: center; /* Centrar el texto */
	border-radius: 10px;
}

.menu-lateral li {
    padding: 10px;
	border-radius: 8px; /* Agregar bordes redondeados */
}

.menu-lateral a {
    color: #fff;
    text-decoration: none;
}


.contenido {
    flex-grow: 1;
    padding: 20px;
	text-align: center; /* Centrar el texto */
}


.container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

button:focus {
  outline: none;
}


/* Agregamos estilos para el elemento select */
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  appearance: none; /* Esto elimina los estilos nativos del sistema operativo */
  cursor: pointer;
}

/* Agregamos estilos para cuando el usuario interactúa con el select */
select:hover {
  border-color: #007bff;
}

select:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}


/* Estilos para la tabla */
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

/* Estilos para las celdas de encabezado */
th {
  background-color: #007bff;
  color: #fff;
  padding: 10px;
  text-align: center;
}

/* Estilos para las celdas de datos */
td {
  border: 1px solid #ccc;
  padding: 10px;
}

/* Estilos alternativos para las filas */
tr:nth-child(even) {
  background-color: #f2f2f2;
}